# Node and dependency folders
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Playwright artifacts
test-results/
playwright-report/
blob-report/
trace.zip
*.zip

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*
.file_activity_report.json
